/* main */
/* user_info */
    .user_info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 72px; width: 100%;
        border-bottom: 1px solid #ebebeb;
        
        .more_profile_img {
            margin: 10px 15px;
            width: 50px;
            height: 50px;
            background-size: cover;
            border-radius: 50%; 
        }
        .profile_info {
            flex: auto;
            display: flex;
            flex-direction: column;
        }
        .profile_info {
            > .profile_name {font-size: 16px;font-weight: bold;}
            > .profile_email {color: #8E9399;}
        }
        .chat_img {
            a {
                font-size: 30px;
                margin-right: 15px;
                color: #513736;
            }
        }
    }
    /* user_menu */
    .user_menu {
        height: 125px;
        border-bottom: 1px solid #ebebeb;
        ul {
            display: flex;
            flex-direction: row; 
            align-items: center;
            height: 100%;
            li {
                overflow: hidden; 
                flex: 1;
                a {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    color: #513736;
                    font-weight: bold; 
                    transition: transform 300ms linear 0s;
                    i {
                        font-size: 30px;
                        margin-bottom: 10px;
                    }
                }
                a:hover {transform: scale(1.05);}
            }
        }
    }

    /* plus_friends */
    .plus_friends {
        height: 280px;
        border-bottom: 1px solid #ebebeb;
        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 32px;
            font-size: 16px;
            padding: 5px 15px; 
            margin-bottom: 15px;
            border-bottom: 1px solid #ebebeb;
            background-color: #fff;
            h2 {
                color: #000; 
                font-size: 14px; 
                font-weight: 500;
            }
            span {color: #8e9399;}
        }
        .plus_list {
            display: flex;
            flex-wrap: wrap;
            li {
                display: flex;
                align-items: center;
                width: 50%;
                height: 45px;
                a {
                    i {
                        margin: 0 15px; 
                        font-size: 16px;
                    }
                }
            }
        }
    }
    /* more_app */
    .more_app {
        padding: 15px;
        ul {
            display: flex;
            flex-direction: row;
            list-style-type: none;
            li {
                width: 75px;
                a {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;
                }
            }
        }
    }

    .more_app li span.app_icon {
        display: block;
        width: 44px;
        height: 44px;
        margin-bottom: 10px;
        background: url(../images/empty.jpg) 0 0 no-repeat;
        background-size: cover;
    }
    .more_app li:nth-child(1) .app_icon{background-image: url(../images/kakaostory.png);}
    .more_app li:nth-child(2) .app_icon{background-image: url(../images/path.png);}
    .more_app li:nth-child(3) .app_icon{background-image: url(../images/kakaofriends.png);}
